.App {
  text-align: center;
}
/* .navbar {

  background-color: white;
} */
.navbar-brand img {

 width: 50px;
 height: 55px;
}
.navbar a:hover {
  color: #3498db !important;
  
} 
.active-menu {
  
  font-size: 130% !important;
  color: #3498db !important;
  border-bottom: solid 1px red;
  font-weight: bold;
}