.img-div {
  text-align: center;
}
h1,
h5 {
  text-align: center;
}
.footer {
  margin-top: 10%;
}
.footer p {
  
  border-top: solid red 1px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

}

.home {
  width: 100%;
  margin-top: 50px;
}
.navbar-brand img {
  width: 50px;
  height: 55px;
}
.navbar a:hover {
  color: #3498db !important;
}
.active-menu {
  font-size: 130% !important;
  color: #3498db !important;
  border-bottom: solid 1px red;
  font-weight: bold;
}
.btn-get-started {
  color: white;
  border: solid 1px #3498db;
  border-radius: 20px 20px 20px 20px;
  background-color: #3498db;
  width: max-content;
  margin: auto;
}
.btn-get-started:hover {
  color: #3498db;
  background-color: white;
}
.brand-name {
  color: #3498db;
}
.header-img {
  height: 300px;
  margin-bottom: 20px;
  
}
.about-img {
  height: 300px;
  margin-bottom: 20px;
}
.contact-img {
  height: 250px;
  padding: 30px;
}
.contact {
  text-align: center;
}
.card {
  height: 380px;
}
.card-title {
  color: #3498db;
}
.code {
  width: 50vw;
  height: 100px;
}
